*{
    font-family: 'Ubuntu';
}

body{
    background-color: green;
}

.login-div {
    margin: 50px auto;
    width: 450px;
    background-color: white;
    padding: 50px;
    border-radius: 5%;
}

.logo {
    background-color: white;
    width: 150px;
    height: 150px;
    margin: 0 auto;
}

.logo img{
    width:100%;
}

.title, .sub-title{
    text-align: center;
    color: black;
}

.title{
    font-weight: bolder;
    font-size: 35px;
}

.sub-title{
    font-size: 18px;
}

.form{
    width: 100%;
    margin-top: 30px;
}

.form input{
    font-size: 18px;
    padding: 10px 20px 10px 5px;
    border:none;
    outline: none; 
    background: none;
}

.username, .password{
    display: block;
    border-radius: 30px;
    border: 1px solid rgba(0,0,0,0.2);
    padding: 1px;
    margin: 10px 0;
}

.form svg{
    height: 25px;
    margin-bottom: -5px;
    margin-left: 10px;
    margin-right: 5px;
}

.options{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 0px;
    margin-bottom: 30px;
}

button.signin-btn{
    width: 100%;
    padding: 12px 10px;
    border: none;
    font-size: 18;
    border-radius: 30px;
    background-color: green;
    color: white;
    margin-bottom: 10px;
}

.sign-up{
    text-align: center;
}

a{
    text-decoration: none;
    color: gray;
}